 @import url("../style/global.css");

 main {
     width: 100vw;
     height: 100vh;

     display: flex;
    }

 section {
    width: 49.2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 h1 {
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    margin-top: 58px;
    color: var(--black)
 }

 .form-container {
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--black)
 }

 form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
 }

fieldset {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.checkbox {
   flex-direction: row;
   gap: 6px;
   justify-content: flex-start;
   align-items: center;
}

.checkbox > label {
   font-size: 9px;
}

form button {
   height: 35.4px;
   background-color: var(--green);
   color: var(--white);
   border-radius: 10px;
   font-weight: 700;
   font-style: normal;
}

.title-wrapper {
   display: flex;
   justify-content: space-between;
}

 img {
    width: 50.8%;
 }

 label {
   font-size: 14px;
   font-weight: 500;
   color: var(--black);
 }

 input {
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 8.5px 10px;
 }
 #remember {
   border: unset;
   border-radius: unset;
   padding: unset;
 }

 input::placeholder {
   font-size: 10px;
   font-weight: 500;
   color: var(--gray);
 }

 a {
   font-size: 10px;
   font-weight: 500;
   color: var(--blue);
 }

 .divider {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px;
   gap: 4.5px;
   margin-top: 59px;
 }

 .line {
   width: 100%;
   height: 2px;
   background-color: var(--border-gray);
   
 }

 .divider > p {
   font-size: 9px;
   color: var(--black);
   font-weight: 500;
 }

.sso-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 23px;
   margin-top: 60px;
}

.sso-container img {
   width: 24px;
   height: 24px;
}

.sso-container button {
   height: 32px;
   gap: 10px;
   padding: 4px 24px;
   border: 1px solid var(--border-gray);
   border-radius: 10px;

   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12px;
}

.redirect-sign-up {
   font-size: 14px !important;
   color: var(--black);
   justify-content: center;
   margin-top: 22px;
}

.redirect-sign-up p a {
   font-size: 14px;
   color: var(--blue);
}
